.row {
    margin: 0;
    padding: 0;
}

.sideBar {
    margin: 20px 10px;
}

.sideBar ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.sideBar ul li{
    padding: 10px 20px;
    border: 1px solid #ddd;
    list-style: none;
    max-width: 250px;   
}